* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Sulphur Point", sans-serif;
  background-color: #2f5470;
  color: #e3eff4;
}
main{
  margin-left: 35%;
}
/* *****Sidebar***** */
#sidenav{
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
  width: 35%;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-left: 3%;
  background-color: #2f5470;
  color: #e3eff4;
}
#sidenav-title{
  font-size: 6rem;
}
#load-screen{
  position: fixed;
  top: 90vh;
  right: 35%;
  z-index: -1;
  font-size: 3rem;
}
#arrow{
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(.280, .840, .420, 1);
  color: #e3eff4;
  
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
#about{
  position: relative;
  top: 100vh;
  background-color: #2f5470;
}
#about-card{
  background-color: #2f5470;
  box-shadow: none;
}
#image-container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.profile-image{
  border-radius: 25%;
  padding-top: 3%;
  padding-right: 5%;
  max-width: min-content;
}
#resume{
  position: relative;
  top: 100vh;
  background-color: #2f5470;
}
#row{
  margin-bottom: 0;
  padding-bottom: 5%;
}
#projects{
  position: relative;
  top: 100vh;
  background-color: #2f5470;

}
.card-user-profile {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.card-user-profile > :last-child {
  margin-bottom: 0;
}

.card-user-profile:hover .card-user-profile-img {
  opacity: 1;
}

.card-user-profile-content {
  position: relative;
}


.card-user-profile-actions {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-user-profile-actions > :last-child {
  margin-bottom: 0;
}

.card-user-profile-img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
max-height: 40vh;
}

.profile-card-avatar {
  position: absolute;
  bottom: 100%;
  left: 40%;
  z-index: 2;
}

.profile-card-avatar img {
  max-width: 20vw;
  max-height: auto;
  border-radius: 50%;
}

.card-user-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  
}

/* START ABOUT PAGE CSS */
.about-section-inner {
  display: flex;
  flex-direction: column;
}
.about-content {
  font-size: 1.25rem;
  padding-right: 3%;
}
/* END OF ABOUT PAGE CSS */

/* START OF RESUME CSS */
.portfolio-resume-spacing li::before {
  content: "\f105";
  size: 2px;
  font-family: "FontAwesome";
  color: #e3eff4;
  padding-right: 0.5rem;
}
.portfolio-resume {
  color: #e3eff4;
}
.devicons {
  font-size: 5rem;
}
.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 4rem;
}
.resume-content-header{
  font-size: 3rem;
}
.resume-content{
  font-size: 1.25rem;
}
/* END OF RESUME CSS */

.projects-section{
  display: flex;
  flex-direction: column;
}
.project-title{
  font-size: 4rem;
}

#project-card{
  margin-top: 2%;
  border-radius: 5%;
  height: auto;
}
#project-image{
  margin-top: 1%;
  padding-bottom: 2%;
  border-radius: 5%;
}
#card-image-container{
  max-height: 100%;
}
.card-content{
  color: #2f5470;
}
.card-reveal{
  color: #2f5470;
}
.rounded-social-buttons {
  margin: 1.5%;
}
.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "\f0e0";
}

.rounded-social-buttons .social-button.google-plus:hover,
.rounded-social-buttons .social-button.google-plus:focus {
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.phone {
  background: #0fb800;
}

.rounded-social-buttons .social-button.phone:before {
  font-family: "FontAwesome";
  content: "\f095";
}

.rounded-social-buttons .social-button.phone:hover,
.rounded-social-buttons .social-button.phone:focus {
  color: #0fb800;
  background: #fefefe;
  border-color: #0fb800;
}

.rounded-social-buttons .social-button.text {
  background: #d76400;
}

.rounded-social-buttons .social-button.text:before {
  font-family: "Quicksand";
  font-size: 85%;
  content: "SMS";
}

.rounded-social-buttons .social-button.text:hover,
.rounded-social-buttons .social-button.text:focus {
  color: #d76400;
  background: #fefefe;
  border-color: #d76400;
}
/* END OF CONTACT US PAGE CSS */

@media screen and (max-width: 1010px){
  main{
    margin: 0;
    padding-left: 3%;
  }
  h1, h2, h3, h4{
    text-align: center;
  }
  #sidenav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    position: fixed;
    z-index: 3;
    left: 0;
    padding-left: 0;
    background-color: #2f5470;
    color: #e3eff4;
  }
  #sidenav-title{
    margin: 0;
    font-size: 4rem;
  }
  #sidenav-content{
    margin: 0;
    font-size: 2.5rem;
  }
  #load-screen{
    top: 85vh;
    left: 46%;
  }
  #about{
    top: 110vh;
  }
  #resume{
    top: 110vh;
  }
  #projects{
    top: 110vh;
  }
  .profile-image{
    padding: 0;
    border-radius: 50%;
  }
}